

body {
	background: #ffc600;
	background-image: radial-gradient(circle at -11.24% 85.36%, #e2ac8a 25%, #6e341d 33.33%, #c06c5c 41.67%, #f23c3c 50%, #186ef0 58.33%, #ed004c 66.67%, #e90057 75%, #e300aa 83.33%, #1600db 91.67%, #ced100 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
}

.b-title {
	letter-spacing: 3px;
}

.b-poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.b-pokemon {
	background-color: rgb(218, 147, 40);
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

 .b-img-container {
	background-color: rgba(223, 226, 17, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.b-info {
	margin-top: 20px;
}

.b-number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.b-name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
} 